@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.todo-item-toggle-green .t-icon {
  color: var(--tui-success-fill);
}
